/* Generics */

/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}

.send{
	padding: 10px;
	background-color: aqua;
	border-radius: 20px;
	border: 1px, black, solid;
	margin-left: 43%;
	margin-top: 40px;
}