/* Generics */

/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}

button{
	background-color: aqua;
	height: 30px;
	width: 30px;
}